/*Propriété de la page*/
body {
  font-family: cursive, arial, sans-serif;
}
 /* Propriété de l'entete de page (header)*/
header {
    background-image: linear-gradient(to left, #87f4b5, #93cbf1); /* dégradé de couleurs*/
    border-radius: 30px; /* bords arrondis*/
    color: #333;
    padding: 8px;
    font-family: cursive, arial, sans-serif;
}

/* Propriete du menu adresse zoo*/
.adresse {
  padding: 5px;
  background-image: linear-gradient(to right, #87f4b5, #93cbf1); /* dégradé de couleurs*/
  list-style-type: none;   /* Suppression des puces*/
  border: 1px dashed black;
  text-align: center;
}

/* Mise en forme du texte header en tableau */
td{
  padding: 10px;
  text-align: center;   
  column-width: 50rem;
}

/* Propriété du logo*/
.logo {
    max-width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu li {
  list-style-type: none;   /* Suppression des puces*/
  display: flex;
}

.menu a {
  display: block;   /* Transformation en block*/
  min-width: 120px;   /* Largeur minimale des liens*/;
  margin: 0.5rem;   /* Marge interne (1 valeurs = 4 directions*/
  padding: 0.5rem 0;  /* Marge externe (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center;   /* Centrage du texte*/
  background-image:linear-gradient(to left,#5edeef,#dce956, #e98fc0);  /* Couleur d'arrière plan*/
  color: #333;   /* Couleur du texte*/  
  text-decoration: none;   /* Suppression du soulignement*/
  border: 1px solid #fff;   /* Bordure de 1px avec couleur blanche*/
  border-radius: 20px;   /* arrondie des bordures*/
  transition: all 1s;   /* Animation de transition de 1s*/
}

/* Changement de couleur au survol*/
.menu a:hover {
  background-color: #fc222270;   /* Couleur d'arrière plan*/
  color: #fc0606;   /* Couleur du texte*/
} 

.menu {
    border-radius: 30px;
    display: flex;
    padding: 0;
    background-color: aqua;
    justify-content: center;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display: block;
    min-width: 100px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: aquamarine;
    color: #333;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: all 1s;
}

.menu a:hover {
    background-color: #fc222270;
    color: #fff;
}


/*Corps de la page*/

main {
    font-family: cursive, arial, sans-serif;
    /*background-color: transparent;
    background-image: url(images/La savane.png);
    background-repeat: no-repeat;
    background-attachment: cover;
    backgroung-position: center;*/
}

/*propriétés du titre principal*/
h1 {
  font-size: 40px;
  text-align: center;
  color: #333;
  font-family: cursive, arial, sans-serif;    
}

/* Propriete titre secondaire*/
h2 {
  font-size: 30px;
  text-align: center;
  color: #93cbf1;
  font-family: cursive, arial, sans-serif;
  text-decoration: #87f4b5 wavy underline;
  text-overflow: ellipsis;

}

/* Propriete du texte*/
p {
  font-size: 20px;
  text-align: center;
  color: #130f0f;
  font-family: cursive, arial, sans-serif;
}

/*Propriete des Images*/
img {
  max-width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form {
        border: 3px solid #f1f1f1;
} 

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    align-self: center;
    margin: 25px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 30%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  } 